<?xml version="1.0"?>
<launch>
	<node pkg="image_tools" type="get_images.py" name="get_images" output="screen">
		<param name="output_directory" value="$(find image_tools)/images"/>
		<param name="chrome_driver" value="$(find image_tools)/chromedriver/chromedriver"/>
		<rosparam command="load" file="$(find image_tools)/launch/get_images.yaml"/>
	</node>
</launch>
